# Django Config
SECRET_KEY=<YOUR_SECRET_KEY>  # Set your Django secret key here.
ALLOWED_HOSTS="localhost,127.0.0.1,yourdomain.com"  # Comma-separated list of allowed hosts.
DJANGO_SETTINGS_MODULE=myproject.settings  # Path to your Django settings module.

# Postgres Config 
POSTGRES_HOST=localhost  # Host where the PostgreSQL server is running.
POSTGRES_PORT=5432       # Port where PostgreSQL server is listening (default is 5432).
POSTGRES_DB_NAME=mydatabase  # Name of your database.
POSTGRES_USER=myuser   # Username to connect to the database.
POSTGRES_PASSWORD=mypassword  # Password for the database user.
